{% block styles%}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
{% endblock %}

<!--Navbar -->
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  
                    <li><a class="list-group-item" href="/"><i class="fa fa-home fa-fw red-text pr-3" aria-hidden="true"></i>&nbsp; Home</a></li>
                        4ABBADe',username=current_user.username)}}" class="fa fa-user" aria-hidden="true">Profile</a></li>
                  
                          <li><a href="{{url_for('auth.logout')}}" class="fa fa-sign-out" aria-hidden="true">Sign out</a></li>
                  {% else %}
                  <li><a href="{{url_for('auth.login')}}" class="fa fa-sign-out" aria-hidden="true">Sign in</a></li>
                 
                  {%endif%}
                </ul>
        </div>
    </div>
    
    
